h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; left: 68px; 
}
/* Insert CSS for arms below this line*/
#arms_image { 
  top: 176px; left: 26px; 
}

/* Insert CSS for ears below this line*/




/* Insert CSS for eyes below this line*/




/* Insert CSS for mouth below this line*/
#mouth_image {
  top: 200px; left:120px;
}



/* Insert CSS for nose below this line*/




/* Insert CSS for eyebrows below this line*/
#eyebrows_image {  
  top: 56px; left: 108px; 



/* Insert CSS for glasses below this line*/




/* Insert CSS for hat below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for moustache below this line*/




/* Insert CSS for shoes below this line*/
#shoes_image{
  top: 296px; left: 45px;
}



/* Insert CSS for cane below this line*/




/* Insert CSS for earrings below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for hatflower below this line*/




/* Insert CSS for boosters below this line*/



